@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');



body {
    background: #000;
    color: #27f7f7;
    font-family: 'Share Tech Mono', monospace !important;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.typewriter {
  padding: 3%;
}

.typewriter h1 {
    font-size: 2em;
}

.typewriter span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}


.alan-icon {
    position: absolute;
    right: 0;
    bottom: 0;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding-top: 2%;
}

.container .spinner {
    padding-top: 2%;
    border-radius: 50%;
}

#music-player {
  padding: 3%;
  display: none;
  transform: scale(1.6);
}

.play {
  display: inline-block;
}

.pause {
  display: none;
}

.outer {
    margin: auto;
    border: 20px solid rgba(0,0,0,0); 
    border-top: 20px solid rgb(255,255,0); 
    border-bottom: 20px solid rgb(255,255,0);
    border-radius: 50%;
    border-style: double;
    width: 220px;
    height: 220px;
    animation: spin 5s linear infinite;
    
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .inner {
    margin:auto;
    border: 19px solid rgba(0,0,0,0); 
    border-top: 19px solid rgb(0,255,255);
    border-bottom: 19px solid rgb(0,255,255);
    border-radius: 50%;
    width: 190px;
    height: 190px;
    cursor: pointer;
    animation: spin2 1.5s linear infinite;
    
  }
  @keyframes spin2 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
  }

  .material-icons {
      cursor: pointer;
  }


  @media (max-width: 800px) {
       .container {
         padding: 5%;
         padding-top: 14%;
       }

       .container .spinner {
         padding: 10%;
       }

       #music-player {
         padding: 10%;
       }
  }